In [1]:
#how can I generate 10 random numbers?
#no specific range.. any 10 random numbers

In [3]:
#you can generate 10 random numbers using the following line of code..

In [6]:
import pandas as pd
import numpy as np

In [12]:
values=np.random.rand(10)
values

array([ 0.13916407,  0.5615802 ,  0.80892309,  0.4121083 ,  0.4413154 ,
        0.54829072,  0.86399799,  0.5574929 ,  0.51072945,  0.18645811])

In [8]:
#now from our yesterday's learning how can I divide this into bins containing.. 
#values of ranges 0,0.2,0.4,0.6,0.8,1
#here is how we can do this..

In [13]:
bins=[0,0.2,0.4,0.6,0.8,1]

pd.cut(values,bins)

[(0, 0.2], (0.4, 0.6], (0.8, 1], (0.4, 0.6], (0.4, 0.6], (0.4, 0.6], (0.8, 1], (0.4, 0.6], (0.4, 0.6], (0, 0.2]]
Categories (5, object): [(0, 0.2] < (0.2, 0.4] < (0.4, 0.6] < (0.6, 0.8] < (0.8, 1]]

In [10]:
# how can I join this to the data frame.. 
#i.e. I want the actual value to be shown on 1 column and the corresponding bin to be shown on the right.. 
#the expected output is as shown in the screenshot.. 
#how can I achieve this?

In [15]:
pd.DataFrame({
            'Value':values,
            'Bin':pd.cut(values,bins)
              },columns=['Value','Bin'])

#The above line of code can be used to map the actual values with the bins created..

      Value         Bin
0  0.139164    (0, 0.2]
1  0.561580  (0.4, 0.6]
2  0.808923    (0.8, 1]
3  0.412108  (0.4, 0.6]
4  0.441315  (0.4, 0.6]
5  0.548291  (0.4, 0.6]
6  0.863998    (0.8, 1]
7  0.557493  (0.4, 0.6]
8  0.510729  (0.4, 0.6]
9  0.186458    (0, 0.2]

In [27]:
df=pd.DataFrame(data=values,columns=['Value'])
#pd.DataFrame(np.random.rand(10),columns=['Value'])
#np.random.randint(low=0, high=10,size=(1,10))

In [28]:
df

      Value
0  0.139164
1  0.561580
2  0.808923
3  0.412108
4  0.441315
5  0.548291
6  0.863998
7  0.557493
8  0.510729
9  0.186458

In [29]:
df['Bin']=pd.cut(df['Value'],bins)

In [30]:
df

      Value         Bin
0  0.139164    (0, 0.2]
1  0.561580  (0.4, 0.6]
2  0.808923    (0.8, 1]
3  0.412108  (0.4, 0.6]
4  0.441315  (0.4, 0.6]
5  0.548291  (0.4, 0.6]
6  0.863998    (0.8, 1]
7  0.557493  (0.4, 0.6]
8  0.510729  (0.4, 0.6]
9  0.186458    (0, 0.2]