In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({
    'date': ['2013-04-01','2013-04-01','2013-04-01','2013-04-02', '2013-04-02'],
    'user_id': ['0001', '0001', '0002', '0002', '0002'],
    'duration': [30, 15, 20, 15, 30]}
)
df.columns

         date  duration user_id
0  2013-04-01        30    0001
1  2013-04-01        15    0001
2  2013-04-01        20    0002
3  2013-04-02        15    0002
4  2013-04-02        30    0002

In [10]:
df
group = df.groupby('date')
#col:'nunique' for col in players_cols
agg1 = group.aggregate({'duration': np.sum})
agg2 = group.aggregate({col:'nunique' for col in df.columns})
agg

            date  duration  user_id
date
2013-04-01     1         3        2
2013-04-02     1         2        1

In [22]:
agg[agg>1]

            date  duration  user_id
date
2013-04-01   NaN         3      2.0
2013-04-02   NaN         2      NaN