### Q1) What is the output of the following statements...
##### Statement 1:  print('Hello \n World') what is the output?
##### Statement 2:  print(r'\nHello \n World') what is the output?

In [2]:
strr="Hello World"
print('Hello \n World') 
print(r'\nHello \n World') ## takes the \n as literalss. output is a raw string, so it wonâ€™t convert escape characters

Hello
 World
\nHello \n World

### Q2) Assuming that we have string variable named strr assigned with value Hello World try answering these questions.
##### strr="Hello World"
##### I am trying to change the word Hello to Hi and I am writing the following statement...
###### strr[1:5]="i"
###### print(strr)
##### What is the output?

In [4]:
strr="Hello World"
strr[1:5]="i"
print(strr)

TypeError: 'str' object does not support item assignment

In [6]:
strr.replace('Hello','Hi') ## It is createing a new string with replaced values and not changing the same string
# yoou need to store the string in another variable
print(strr)# print the same old string

Hi World
Hello World

In [7]:
newstrr=strr.replace('Hello','Hi') 
print(newstrr)

Hi World

In [8]:
#alternate way
print(strr.replace('Hello','Hi') )
print(newstrr)

Hi World
Hi World

### Q3) what is the output of the following statement?
###### strr1=strr.replace('l','i')
###### print(strr1)
###### strr2=strr.replace('l','i',2)
###### print(strr2)

In [17]:
strr="Heeeeello "
strr1=strr.replace('e','m')
print(strr1)

#Third argument.. represent how many we need to replace.....if not specified all are replaced..am I right???
strr2=strr.replace('e','m',1) 
print(strr2)

Hmmmmmllo
Hmeeeello

### Q4)What is the output of the following statements..

#### strr="This is a string. This is really good"
#### strr.replace("is","was")
#### strr.replace("is","was",2)

In [22]:
strr="This is a string. This is really good"
print(strr.replace("is","was"))
print(strr.replace("is","was",2))

Thwas was a string. Thwas was really good
Thwas was a string. This is really good

### Q5)What is the simplest way to calculate the factorial of a given number

In [24]:
import math as m
m.factorial(5)

120

### Q5 question on pandas is, how can I generate a series of date values starting from beginning of the current month until today

In [25]:
import datetime
print(datetime.datetime.today())

2018-07-28 01:43:57.807711

In [26]:
print(datetime.datetime.today().date())

2018-07-28

In [27]:
print(datetime.datetime.today().date().day)

28

In [28]:
#date_range method in pandas to generate a series of date values with a numeric value and frequency.. 
#the generic syntax of date_range is as follows..

#pandas.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False, name=None, closed=None, **kwargs)

In [32]:
#There are 2 ways to achieve this.. one is use periods argument or use end argument of date_range method
# 1. Using periods argument...
import pandas as pd
pd.date_range('7/1/2018',periods=datetime.datetime.today().date().day)

DatetimeIndex(['2018-07-01', '2018-07-02', '2018-07-03', '2018-07-04',
               '2018-07-05', '2018-07-06', '2018-07-07', '2018-07-08',
               '2018-07-09', '2018-07-10', '2018-07-11', '2018-07-12',
               '2018-07-13', '2018-07-14', '2018-07-15', '2018-07-16',
               '2018-07-17', '2018-07-18', '2018-07-19', '2018-07-20',
               '2018-07-21', '2018-07-22', '2018-07-23', '2018-07-24',
               '2018-07-25', '2018-07-26', '2018-07-27', '2018-07-28'],
              dtype='datetime64[ns]', freq='D')

In [31]:
#Using end argument..
#When u r specifying the end date..to differentiate we must specify start to help us understand the start and end dates
pd.date_range(start='7/1/2018',end=datetime.datetime.today().date())

DatetimeIndex(['2018-07-01', '2018-07-02', '2018-07-03', '2018-07-04',
               '2018-07-05', '2018-07-06', '2018-07-07', '2018-07-08',
               '2018-07-09', '2018-07-10', '2018-07-11', '2018-07-12',
               '2018-07-13', '2018-07-14', '2018-07-15', '2018-07-16',
               '2018-07-17', '2018-07-18', '2018-07-19', '2018-07-20',
               '2018-07-21', '2018-07-22', '2018-07-23', '2018-07-24',
               '2018-07-25', '2018-07-26', '2018-07-27', '2018-07-28'],
              dtype='datetime64[ns]', freq='D')

### Q6)What is the output of the following statement...

##### np.array([3] * 4)

In [45]:
import numpy as np
# it generates an array with 4 lists containing the value [3]
listarray=np.array([3] * 4)
list11=listarray[0]

In [37]:
np.array([3]) * 4

array([12])

### Q7) 
#### my next question is..let's say, I have a data frame as shown in the screenshot..
#### as you notice, these columns are not arranged in proper order.. can any of tell me as to how can I re-arrange these column to be shown as A5,A4,A3,A3 and A1
<img src='./Matrix.jpeg' />

In [71]:
import pandas as pd
df=pd.DataFrame({'A1':np.random.randint(low=40,high=100,size=5),
                 'A2':np.random.randint(low=40,high=100,size=5),
                'A3':np.random.randint(low=40,high=100,size=5),
                'A4':np.random.randint(low=40,high=100,size=5)
                })
df

   A1  A2  A3  A4
0  87  88  94  98
1  89  96  40  47
2  47  92  60  94
3  95  43  68  77
4  50  69  58  49

In [73]:
df[['A4','A3','A2','A1']]

   A4  A3  A2  A1
0  98  94  88  87
1  47  40  96  89
2  94  60  92  47
3  77  68  43  95
4  49  58  69  50

In [59]:
np.random.randint(low=40,high=100,size=5)

array([77, 41, 73, 70, 45])

In [74]:
#in the sort_index method we can supply the parameter axis as 1 which indicates that you are sorting the data frame by column index's
df.sort_index(axis=1,ascending=False)

   A4  A3  A2  A1
0  98  94  88  87
1  47  40  96  89
2  94  60  92  47
3  77  68  43  95
4  49  58  69  50