In [1]:
#setting the working folder for this
your_local_path="C:/Mallikarjun/UPXAcademy/DataScience/PythonBasics/Working"

I am now learning Python. This is my first example

Now trying to print without import. It works without using import sys

In [5]:
print ("Mallikarjun")

Mallikarjun

Now trying indentation using For Loop

In [4]:
alist[10]
for x in alist:
    if x> anumber:
        print (x)
    else:
        print (-x)

NameError: name 'alist' is not defined

Assign values to variables and also adding two numbers,  concatenate strings using + operators
Trying concatenate a number with string, error our

In [12]:
counter=100
miles=1000
name="mallikarjun"
a=0.111
b=2.0
c="Mallik"
d="Arjun"
e="0"
print (counter);print (a+b);print(e+c+d)
print(b+c);

100
2.111
0MallikArjun

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Working with strings now
yeah ..join expression is when you are trying join more than 1 string with a given word / character i..e the syntax is as follows:
<<Conjuection word / Character>>.join([<<list of words comma spearated>>])

In [62]:
str="Hello world "
print("Mallikarjun".join([str]))
print ('#'.join([str,"Mallikarjun"]))
print ("%s Mallikarjun"%(str))

Hello world
Hello world #Mallikarjun
Hello world  Mallikarjun

In [63]:
anotherword="Mallikarjun"

print(str)
print (str[0])
print (str[:2])
print(str[2:7])
print(str[2:])
print(str[0:-6])
print(str*2)

Hello world
H
He
llo w
llo world
Hello
Hello world Hello world

String replacement

In [69]:
str="[] Hello World"
print(str.replace('[]','Mallikarjun'))

Mallikarjun Hello World

adding number with automatic type casting

In [79]:
a='20'
b='40'
print(a+b)
print(int(a)+int(b))

a=34.9
a=int(a)
print (a)

a='34.9'
a=int(a)# return error as it cannot convert a float value to a int value

2040
60
34

ValueError: invalid literal for int() with base 10: '34.9'

In [4]:
a="Mallikarjun"
print(a)
print(a[:len(a)-1])

Mallikarjun
Mallikarju

In [22]:
a="Mallikarjun Bendigeri"
index=a.find("")
if index>0:
    #print(index)
    print(a[:index])
else:
    print ("Unable to find any space")

Unable to find any space

In [50]:
#import time
import time
localtime = time.localtime(time.time())
print("time in milliseconds %a" %time.asctime(localtime))

time in milliseconds 'Tue Apr 17 23:08:46 2018'

In [ ]:
#import dateime

In [72]:
import calendar
import datetime
print (datetime.datetime.now().strftime("%Y"))
cal=calendar.month(int(datetime.datetime.now().strftime("%Y")),2)
print (cal)

2018
   February 2018
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

# Checking files using glob

### glob helps find files using a pattern match . Patten match is as per unix standard and not regular experession

### use glob when you need to find a files that have certain prefix, extension or any common string

#### characters ranges are supported, two wild cards are supported, few special chanracters
#### pattern matching is applied at the segments of the files (stopping at "/")

##### import glob

In [ ]:
import glob
import os

##### print the current working directory

In [ ]:
cwd=os.getcwd()
print (cwd)

##### print each of the python files

In [12]:
for name in glob.glob('*.ipynb'):
    print (name)

C:\Users\mbendi400
1-Redcard-Dataset.ipynb
2-Redcard-Players.ipynb
3-Redcard-Dyads.ipynb
4-Redcard-final-joins.ipynb
attachment_PythonBasics-Session1-Recording-Along-With-Assignment-Questions.ipynb
Jupyter Keyboard Shortcuts Practice.ipynb
Learning Python- Lesson 1.ipynb
Learning_EDA_Via_2-Redcard-Players.ipynb

##### print all the file in a particular directory

In [14]:
for name in glob.glob('downloads/*'):
    print (name)

downloads\,upxacademy,85361998159680013,-383253072,TC,0-0,SDJTSwAAAAQ2lAhoL49is3rlBzkzGNKwwdDiWv6OvzBda_-zxkOWNQ2_webex.exe
downloads\,upxacademy,87896731425968878,-403981867,TC,0-0,SDJTSwAAAATiJDY5RLxe1tI9m_50JtIMYUftq5NWjd4uqx6srZdLHg2_webex.exe
downloads\1. Crowdsourcing Dataset July 01, 2014 Incl.Ref Country.zip
downloads\1099-MALLI 2017.pdf
downloads\1st list of BJP candidate for Legislative Assembly of Karnataka as on 08.04.2018.pdf
downloads\2017-Nissan-Altima-25-SV-4dr-Sedan.pdf
downloads\2018_brunch.pdf
downloads\2018_menu_2.pdf
downloads\22th_Jan_28thJan_2018.PNG
downloads\31_Drawing_Prompts_.pdf
downloads\334PASE_ELA_G3_SE_samplepgs.pdf
downloads\34b_Strata One Source How To Search for Programming Guide.pptx
downloads\42312470_onlineec.pdf
downloads\4443917929_1.pdf
downloads\7z1801.exe
downloads\9783834823953-c1.pdf
downloads\Add New Programs- UI restructured (1).msg
downloads\Add New Programs- UI restructured (2).msg
downloads\Add New Programs- UI restructured.msg
downloads\Additional_Rental_0482169794.pdf
downloads\Agreement_Tenant_2017-18.docx
downloads\AI  Menu Item to Role Mapping (1).xlsx
downloads\AI  Menu Item to Role Mapping (2).xlsx
downloads\AI  Menu Item to Role Mapping.xlsx
downloads\AIT-438 Screen Mockup (1).docx
downloads\AIT-438 Screen Mockup.docx
downloads\AIT-446 Screen Mockup.docx
downloads\AIT-589 Screen Mockup.docx
downloads\AIT-595 Rating Calcuation.docx
downloads\AIT-595 Screen Mockup (1).docx
downloads\AIT-595 Screen Mockup.docx
downloads\AIT-605 Screen Mockup.docx
downloads\AIT-609 Screen Mockup (1).docx
downloads\AIT-609 Screen Mockup.docx
downloads\AIT-627 Screen Mockup.docx
downloads\AIT-712 Acceptance Criteria.docx
downloads\AIT-809 Acceptance Criteria.docx
downloads\AIT-856.xlsx
downloads\angular-tree-widget-master.zip
downloads\Application.pdf
downloads\AQT User Guide.docx
downloads\AQT_Notification_Template.oft
downloads\attachment_attachment_Linear_Regression (1).zip
downloads\attachment_attachment_Linear_Regression.zip
downloads\attachment_bikeshare.csv
downloads\attachment_linearreg_Assignment.zip
downloads\attachment_Post_Read-Difference_between_correlation_and_regression.pdf
downloads\attachment_PythonBasics-Session2 (1).ipynb
downloads\attachment_Python_notebook_week1 (1).zip
downloads\Audience Insights Research Tool UI Work Flow.docx
downloads\Audience_Insights.zip
downloads\Bank Transfer Details - SBI.doc
downloads\Benefit Overview_2017_Updated.pdf
downloads\bootstrap-daterangepicker-master
downloads\bootstrap-daterangepicker-master.zip
downloads\bootstrap-master (1).zip
downloads\bootstrap-master (2).zip
downloads\Brackets.Release.1.11.msi
downloads\Building-Continuous-Applications-with-Apache-Spark.pdf
downloads\CadreFaviIcon.ico
downloads\CadreFaviIcon_1.ico
downloads\CadreFaviIcon_2.ico
downloads\CADRE_Features_Usage.xlsx
downloads\ChromeSetup.exe
downloads\Cisco_WebEx_Add-On.exe
downloads\CodeCogsEqn.gif
downloads\CoE Announcement.msg
downloads\Comcast Spotlight Open Positions 031218.pdf
downloads\ComprehensivePortfolioChart.pdf
downloads\ConfigurationTransform.vsix
downloads\Core Competencies - Manager.PDF
downloads\Core Competencies - Supervisor.pdf
downloads\Data Analytics Resume format.doc
downloads\Definition of High Value Programming Final (1).docx
downloads\Definition of High Value Programming Final (2).docx
downloads\Definition of High Value Programming Final (3).docx
downloads\Definition of High Value Programming Final.docx
downloads\Definition of High Value Programming Finalv6_sn.docx
downloads\Deploying-SharePoint-2016-1.pdf
downloads\desktop.ini
downloads\download
downloads\download (1)
downloads\EQTO - MicroStrategy.xlsx
downloads\favicon.ico
downloads\FavouriteSeason.jpg
downloads\Final IDP Deck.pptx
downloads\florencegrille.pdf
downloads\Free-Download-Doc-Format-Release-Note-Template.doc
downloads\FutureProgramming_03-05-2018 (1).csv
downloads\FutureProgramming_03-05-2018.csv
downloads\Getting Ready 2017-2018.pptx
downloads\helpndoc-setup-5.4.1.404.exe
downloads\HVP Override Scenarios.xlsx
downloads\HVP Python Script Calling-DRAFT-110217.docx
downloads\I123250 _sumry_NEW_3_12_2018 12_00_00 AM.xlsx
downloads\image.png
downloads\IMG_20171115_081224.jpg
downloads\IMG_9338.JPG
downloads\Lambda_Missing_Values.pdf
downloads\letterCignaL20-SheelaMallikarjun Bendigeri-1512520578833.pdf
downloads\Linear TV Audience Current Process Flow
downloads\Linear TV Audience Data On Boarding Use Case Copy
downloads\Linear TV Audience Forecast Ratings Current Process Flow
downloads\Mallikarjun S Bendigeri_15+yrs Net_Detailed_New.docx
downloads\Microstrategy_Database_Reboot_Notification_Template.oft
downloads\Microstrategy_Reboot_Notification_Template (1).oft
downloads\Microstrategy_Reboot_Notification_Template.oft
downloads\ML March 25 by Sai.pptx
downloads\ML Session 2.zip
downloads\MULTISCREEN_1080_MASTER.mp4
downloads\New Program linked to a non HVP Donor program (1).msg
downloads\New Program linked to a non HVP Donor program.msg
downloads\nuget.exe
downloads\Office Depot Weekly Ad â€“ low prices on office supplies, office furniture, office products.pdf
downloads\OneDrive-2018-03-11
downloads\pandas_cheatsheet(1).ipynb
downloads\payrollcalculationtool2017.xls
downloads\PCA__1.pdf
downloads\PCA__1_ (1).epdf
downloads\PCA__1_ (2).epdf
downloads\PCA__1_ (3).epdf
downloads\PCA__1_ (4).epdf
downloads\PCA__1_ (5).epdf
downloads\PGUIDE STRATA View Basic.pptx
downloads\Program Actuals in CADRE.docx
downloads\ProgramSearch-Procedures.xlsx
downloads\repuzzles.zip
downloads\Request for MerlinEpisodeTitle .msg
downloads\results-1526178795386-047ec9fc-aa1f-4a7f-8b14-73d95595c483.xlsx
downloads\RTGS DETAILS- Kusuma advocates.docx
downloads\screen shots.docx
downloads\Server_details.xlsx
downloads\ServiceHistoryReport.pdf
downloads\Shwetha_B_MCom (1).pdf
downloads\Shwetha_B_MCom.pdf
downloads\SolarWinds-LEM-v6.3.1-Evaluation-HyperV.exe
downloads\SOS Network Program Guide.pdf
downloads\Sourcing Guidelines 2017.pptx
downloads\Spark The Definitive Guide Big Data Processing Made Simple.pdf
downloads\SPOTLIGHT CONTACT LIST.xlsx
downloads\sql-server-internals-oltp.zip
downloads\SSDT-Setup-ENU.exe
downloads\Strata Classic TIM Basic - SLS1173 vILT.pptx
downloads\STRATA OneCONNECT Message to Buyers with training link.docx
downloads\Strata VIEW Basic - SLS1172 vILT.pptx
downloads\Swetha_M_B.jpg
downloads\transaction_activity (1).csv
downloads\transaction_activity.csv
downloads\UAT Rd 3 Testing Criteria Checklist.xlsx
downloads\Unconfirmed 644931.crdownload
downloads\unnamed (1).jpg
downloads\Usecases_Seasonsdetails.xlsx
downloads\User Story AIT-438 Acceptance Criteria (1).docx
downloads\User Story AIT-438 Acceptance Criteria.docx
downloads\User Story AIT-595 Acceptance Criteria.docx
downloads\UX Changes for Sidebar (1).docx
downloads\UX Changes for Sidebar (2).docx
downloads\UX Changes for Sidebar.docx
downloads\Web Api Definition (1).docx
downloads\WhatsApp Image 2018-04-04 at 7.46.56 PM.jpeg
downloads\WhatsAppSetup.exe
downloads\winterwalk by Patti Oeste.ppt
downloads\Wireless13.5yrs_RajshekharP_CV_US.docx
downloads\Wunderlist-Setup.exe
downloads\~$P Python Script Calling-DRAFT-110217.docx

# Chris Albon

## While loop

In [13]:
# An examples of while loop

### import random

In [22]:
import random

### Create a variable for death count

In [23]:
deaths=10

### Create a variable that denotes if the while loop should continue

In [54]:
running=True

### Create a while loop now

In [55]:
print("Running value is ",running)

Running value is  True

In [56]:
while running:
    #Create a variable that randomly creates an integer
    guessAnumber=random.randint(0,10)
    # if the guess is correct, Print you are a winner
    if guessAnumber == deaths:
        print('You are a winner')
        running=False
    elif (guessAnumber < deaths):
        print('They are more than you thought')
    else:
        print('Try another luck')

They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
They are more than you thought
You are a winner

## representation vs string

In [60]:
import datetime
class Regiment(object):
    def __init__(self, date=datetime.datetime.now()):
        self.date=date
    def _repr_(self):
        return date
    def _str_(self):
        return str(date)

## any() max() min() all() sum()

In [61]:
data=[45,56,43,23,52]

min(data)
sum(data)

219

In [62]:
#Return true   if any of the element is true
any(data)

True

## Adding Padding around string

In [6]:
    #from https://chrisalbon.com/python/basics/add_padding_around_string/
    #Adding spaces to left
text="Mallikarjun"
format(text,'>20')

'         Mallikarjun'

In [7]:
 #Adding spaces to Right
text="Mallikarjun"
format(text,'<20')

'Mallikarjun         '

In [9]:
format(text,"*>20") # to the left
format(text,"*<20")

'Mallikarjun*********'

In [11]:
format(text,"1^20") #Ading * on each side

'1111Mallikarjun11111'

In [14]:
format(text,"1^20") #Ading * on each side

'1111Mallikarjun11111'

In [22]:
"_".join(["Mallikarjun","Bendigeri"])
#"*".join("Mallikarjun")

'Mallikarjun_Bendigeri'

## Apply Operations Over Items In A List

In [1]:
#create a list of items
battleDeaths=[200,423,453,456,212]

### Method 1 using for X in Y

In [8]:
### Method 1 using for X in Y
battlebatUpdated=[]
for x in battleDeaths:
    battlebatUpdated.append(x+200)
battlebatUpdated

[400, 623, 653, 656, 412]

### Method 2 use map()

In [2]:
#create a function that take a parameter and increments it by 100 before returning it back 
def updated(x):
    return x+100

In [3]:
#Create a list and apply the function created in the last step
list(map(updated,battleDeaths))

[300, 523, 553, 556, 312]

### Method 3 using Lambda functions

In [9]:
# use lambda functions instead of explicit functions

In [12]:
list(map((lambda x:x+100),battleDeaths))

[300, 523, 553, 556, 312]

# iteration

In [33]:
import numpy as np
N=20
df=pd.DataFrame({
"A":pd.date_range(start="2018-01-01",periods=N,freq="D"),
"B":np.linspace(0,stop=N-1,num=N),
"C":np.random.rand(N),
"D":np.random.choice(['Low','High','Medium'],N).tolist(),
"E":np.random.normal(100,10,size=(N)).tolist()
},index=['A0','A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15',
         'A16','A17','A18','A19'])
print (df)

             A     B         C       D           E
A0  2018-01-01   0.0  0.437900  Medium   83.589797
A1  2018-01-02   1.0  0.523588    High  117.938233
A2  2018-01-03   2.0  0.216237  Medium   91.409287
A3  2018-01-04   3.0  0.816137    High  111.539100
A4  2018-01-05   4.0  0.088587  Medium   93.891004
A5  2018-01-06   5.0  0.542428    High  110.470590
A6  2018-01-07   6.0  0.937017  Medium   94.457527
A7  2018-01-08   7.0  0.172924     Low  104.522279
A8  2018-01-09   8.0  0.268632    High   97.534608
A9  2018-01-10   9.0  0.665321    High  105.918721
A10 2018-01-11  10.0  0.015545  Medium   75.295264
A11 2018-01-12  11.0  0.019678  Medium  102.798725
A12 2018-01-13  12.0  0.148006    High  114.591548
A13 2018-01-14  13.0  0.154070     Low   91.235631
A14 2018-01-15  14.0  0.816781     Low  101.184670
A15 2018-01-16  15.0  0.145947  Medium  102.105147
A16 2018-01-17  16.0  0.103234    High  103.317142
A17 2018-01-18  17.0  0.579152     Low   97.943360
A18 2018-01-19  18.0  0.220328     Low  102.603837
A19 2018-01-20  19.0  0.914462    High   96.769157

### iterations

### using iteritems

#### iterates over each column as a key-value pair. each column is iterated seperately as we do in series (key-value pair) . The key is made the label and column values become a series object

In [34]:
for key,value in df.iteritems():
    print (key,value)

A A0    2018-01-01
A1    2018-01-02
A2    2018-01-03
A3    2018-01-04
A4    2018-01-05
A5    2018-01-06
A6    2018-01-07
A7    2018-01-08
A8    2018-01-09
A9    2018-01-10
A10   2018-01-11
A11   2018-01-12
A12   2018-01-13
A13   2018-01-14
A14   2018-01-15
A15   2018-01-16
A16   2018-01-17
A17   2018-01-18
A18   2018-01-19
A19   2018-01-20
Name: A, dtype: datetime64[ns]
B A0      0.0
A1      1.0
A2      2.0
A3      3.0
A4      4.0
A5      5.0
A6      6.0
A7      7.0
A8      8.0
A9      9.0
A10    10.0
A11    11.0
A12    12.0
A13    13.0
A14    14.0
A15    15.0
A16    16.0
A17    17.0
A18    18.0
A19    19.0
Name: B, dtype: float64
C A0     0.437900
A1     0.523588
A2     0.216237
A3     0.816137
A4     0.088587
A5     0.542428
A6     0.937017
A7     0.172924
A8     0.268632
A9     0.665321
A10    0.015545
A11    0.019678
A12    0.148006
A13    0.154070
A14    0.816781
A15    0.145947
A16    0.103234
A17    0.579152
A18    0.220328
A19    0.914462
Name: C, dtype: float64
D A0     Medium
A1       High
A2     Medium
A3       High
A4     Medium
A5       High
A6     Medium
A7        Low
A8       High
A9       High
A10    Medium
A11    Medium
A12      High
A13       Low
A14       Low
A15    Medium
A16      High
A17       Low
A18       Low
A19      High
Name: D, dtype: object
E A0      83.589797
A1     117.938233
A2      91.409287
A3     111.539100
A4      93.891004
A5     110.470590
A6      94.457527
A7     104.522279
A8      97.534608
A9     105.918721
A10     75.295264
A11    102.798725
A12    114.591548
A13     91.235631
A14    101.184670
A15    102.105147
A16    103.317142
A17     97.943360
A18    102.603837
A19     96.769157
Name: E, dtype: float64

### iterrows, iterates over earch row.

In [38]:
for row_index,row in df.iterrows():
    print (row_index,row)

A0 A    2018-01-01 00:00:00
B                      0
C                 0.4379
D                 Medium
E                83.5898
Name: A0, dtype: object
A1 A    2018-01-02 00:00:00
B                      1
C               0.523588
D                   High
E                117.938
Name: A1, dtype: object
A2 A    2018-01-03 00:00:00
B                      2
C               0.216237
D                 Medium
E                91.4093
Name: A2, dtype: object
A3 A    2018-01-04 00:00:00
B                      3
C               0.816137
D                   High
E                111.539
Name: A3, dtype: object
A4 A    2018-01-05 00:00:00
B                      4
C               0.088587
D                 Medium
E                 93.891
Name: A4, dtype: object
A5 A    2018-01-06 00:00:00
B                      5
C               0.542428
D                   High
E                110.471
Name: A5, dtype: object
A6 A    2018-01-07 00:00:00
B                      6
C               0.937017
D                 Medium
E                94.4575
Name: A6, dtype: object
A7 A    2018-01-08 00:00:00
B                      7
C               0.172924
D                    Low
E                104.522
Name: A7, dtype: object
A8 A    2018-01-09 00:00:00
B                      8
C               0.268632
D                   High
E                97.5346
Name: A8, dtype: object
A9 A    2018-01-10 00:00:00
B                      9
C               0.665321
D                   High
E                105.919
Name: A9, dtype: object
A10 A    2018-01-11 00:00:00
B                     10
C              0.0155452
D                 Medium
E                75.2953
Name: A10, dtype: object
A11 A    2018-01-12 00:00:00
B                     11
C              0.0196776
D                 Medium
E                102.799
Name: A11, dtype: object
A12 A    2018-01-13 00:00:00
B                     12
C               0.148006
D                   High
E                114.592
Name: A12, dtype: object
A13 A    2018-01-14 00:00:00
B                     13
C                0.15407
D                    Low
E                91.2356
Name: A13, dtype: object
A14 A    2018-01-15 00:00:00
B                     14
C               0.816781
D                    Low
E                101.185
Name: A14, dtype: object
A15 A    2018-01-16 00:00:00
B                     15
C               0.145947
D                 Medium
E                102.105
Name: A15, dtype: object
A16 A    2018-01-17 00:00:00
B                     16
C               0.103234
D                   High
E                103.317
Name: A16, dtype: object
A17 A    2018-01-18 00:00:00
B                     17
C               0.579152
D                    Low
E                97.9434
Name: A17, dtype: object
A18 A    2018-01-19 00:00:00
B                     18
C               0.220328
D                    Low
E                102.604
Name: A18, dtype: object
A19 A    2018-01-20 00:00:00
B                     19
C               0.914462
D                   High
E                96.7692
Name: A19, dtype: object

### itertuples, iterates over earch row and returns a tuple

In [39]:
for row in df.itertuples():
    print (row)

Pandas(Index='A0', A=Timestamp('2018-01-01 00:00:00'), B=0.0, C=0.43790048279267313, D='Medium', E=83.58979731745454)
Pandas(Index='A1', A=Timestamp('2018-01-02 00:00:00'), B=1.0, C=0.52358797902011489, D='High', E=117.93823327255718)
Pandas(Index='A2', A=Timestamp('2018-01-03 00:00:00'), B=2.0, C=0.21623734672533101, D='Medium', E=91.409286725602641)
Pandas(Index='A3', A=Timestamp('2018-01-04 00:00:00'), B=3.0, C=0.81613714063857745, D='High', E=111.5390997941782)
Pandas(Index='A4', A=Timestamp('2018-01-05 00:00:00'), B=4.0, C=0.088586989344303091, D='Medium', E=93.891004495490762)
Pandas(Index='A5', A=Timestamp('2018-01-06 00:00:00'), B=5.0, C=0.54242823877093482, D='High', E=110.4705900784725)
Pandas(Index='A6', A=Timestamp('2018-01-07 00:00:00'), B=6.0, C=0.93701746728724178, D='Medium', E=94.457526892768641)
Pandas(Index='A7', A=Timestamp('2018-01-08 00:00:00'), B=7.0, C=0.17292364275520578, D='Low', E=104.52227901544443)
Pandas(Index='A8', A=Timestamp('2018-01-09 00:00:00'), B=8.0, C=0.2686320278631632, D='High', E=97.534607659057357)
Pandas(Index='A9', A=Timestamp('2018-01-10 00:00:00'), B=9.0, C=0.66532072392716557, D='High', E=105.91872117690184)
Pandas(Index='A10', A=Timestamp('2018-01-11 00:00:00'), B=10.0, C=0.015545204024415504, D='Medium', E=75.295263677738049)
Pandas(Index='A11', A=Timestamp('2018-01-12 00:00:00'), B=11.0, C=0.019677594327140224, D='Medium', E=102.79872467705985)
Pandas(Index='A12', A=Timestamp('2018-01-13 00:00:00'), B=12.0, C=0.14800573855931065, D='High', E=114.59154826675703)
Pandas(Index='A13', A=Timestamp('2018-01-14 00:00:00'), B=13.0, C=0.15406985058837819, D='Low', E=91.235631298284048)
Pandas(Index='A14', A=Timestamp('2018-01-15 00:00:00'), B=14.0, C=0.81678078859407721, D='Low', E=101.18466999236097)
Pandas(Index='A15', A=Timestamp('2018-01-16 00:00:00'), B=15.0, C=0.14594685050936118, D='Medium', E=102.10514684377026)
Pandas(Index='A16', A=Timestamp('2018-01-17 00:00:00'), B=16.0, C=0.10323444089999223, D='High', E=103.31714244342554)
Pandas(Index='A17', A=Timestamp('2018-01-18 00:00:00'), B=17.0, C=0.57915208228552872, D='Low', E=97.943359757408857)
Pandas(Index='A18', A=Timestamp('2018-01-19 00:00:00'), B=18.0, C=0.22032794561302782, D='Low', E=102.6038370827399)
Pandas(Index='A19', A=Timestamp('2018-01-20 00:00:00'), B=19.0, C=0.91446181555271266, D='High', E=96.769156904565619)

### learning any
#### Return whether any element is True over requested axis.

In [41]:
 pd.Series([True, False]).any()

True

In [42]:
 pd.Series([False, False]).any()

False

In [43]:
 pd.Series([True, False]).all()

False

In [44]:
 pd.Series([True, False]).any()

True

In [51]:
df = pd.DataFrame({"A": [0, 2], "B": [0, 2], "C": [0, 0]})

In [52]:
df

   A  B  C
0  0  0  0
1  2  2  0

In [53]:
df.any(axis="rows")

A     True
B     True
C    False
dtype: bool

In [54]:
df.any(axis="columns")

0    False
1     True
dtype: bool

### Iterations

In [1]:
a = ['a1', 'a2', 'a3']
b = ['b1', 'b2']

#### loop through every item of multiple lists.

Using the built-in function zip also lets you iterate in parallel:

In [6]:
## zip stops when the shorter of foo or bar stops.
## This is fine when foo and bar are not massive. If they are both massive then forming zip(foo,bar) is an unnecessarily massive temporary variable, 
## and should be replaced by itertools.izip or itertools.izip_longest, which returns an iterator instead of a list.

for x, y in zip( a, b):
    print (x, y)

a1 b1
a2 b2

In [9]:
import itertools
for f,b in itertools.izip(a,b):
    print(f,b)
for f,b in itertools.izip_longest(a,b):
    print(f,b)

AttributeError: module 'itertools' has no attribute 'izip'