In [2]:
!pip install graphlab

Collecting graphlab

  Could not find a version that satisfies the requirement graphlab (from versions: )
No matching distribution found for graphlab
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [3]:
!pip install --upgrade graphlab

Collecting graphlab

  Could not find a version that satisfies the requirement graphlab (from versions: )
No matching distribution found for graphlab
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [4]:
import graphlab

ModuleNotFoundError: No module named 'graphlab'

In [5]:
import pandas as pd
import numpy as nm

In [7]:
dataframe=pd.read_csv("people-example.csv")

In [12]:
dataframe.head(10)

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [14]:
dataframe.tail(3)

  First Name Last Name        Country  age
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [11]:
dataframe.head(2)

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23