In [2]:
import pandas as pd
import numpy as np

In [8]:
#Examples creating an array from a loop
output=[_ for _ in range(20)]

In [18]:
output

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
out=[print(_) for _ in range(2,20,2)]

2
4
6
8
10
12
14
16
18

In [19]:
# Nested for loops
array_1=['grade 1','grade 2','grade 3']
array_2=['Iccha','Vai','sree','Kreethi']

In [20]:
[(student,grade) for student in array_2 for grade in array_1]

[('Iccha', 'Class 1'),
 ('Iccha', 'Class 2'),
 ('Iccha', 'Class 3'),
 ('Vai', 'Class 1'),
 ('Vai', 'Class 2'),
 ('Vai', 'Class 3'),
 ('sree', 'Class 1'),
 ('sree', 'Class 2'),
 ('sree', 'Class 3'),
 ('Kreethi', 'Class 1'),
 ('Kreethi', 'Class 2'),
 ('Kreethi', 'Class 3')]